@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary :#1c00b5;
    --secondery:#FB2050;
    --black   :#000000;
    --normal  :#ffffff;
    --bg      :#07011f;
    --denger  :#06a0c7;
    --border  :0.1rem  solid rgba(255,255,255,0.3); 
    --color   :#E2E8EC;


    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-sm:94%;
}

/* universal selector */

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
}

/* custom scrol bar */
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background: var(--normal);
}
::-webkit-scrollbar-thumb{
    background: var(--secondery);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--denger);
}


body{

line-height: 1.7;
color: var(--black);
background-color: var(--color);

}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

section{
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,h2,h3,h4{
    line-height: 1.2;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem
}
h4{
    font-size: 1.3rem;
}

a{
    color: var(--normal);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
    display: inline-block;
    background-color: var(--primary);
    color: var(--normal);
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    font-weight: 500;
}

.btn:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

.border_bottom{
 text-align: center;
 display: inline-block;
 border-bottom: 2px solid var(--primary);
 color: var(--primary);
 margin-bottom: 2.5rem;
}


nav{
    background-color: var(--black);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav_container{
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav_container span{
    color: var(--secondery);
}
.nav_container h4{
  font-size: 1.8rem;
}

.nav_container h4::first-letter{
    font-size: 2.5rem;
}

.nav_container h4:hover{
    color: var(--secondery);
    transform: rotateY(360deg);
    transition-duration: 1.2s;
}

nav button{
    display: none;
}

.nav_menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav_menu a{
    font-size: 1rem;
    position: relative;
    transition: all 0.3s linear;
}

.nav_menu a:hover{
    color:var(--secondery);
}
 

 .nav_menu a::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    border-radius: 30px;
    background: var(--secondery);
    left: 50%;
    bottom: -15%;
    transform: translate( -50% 15%);
    transition: all 0.3s linear;
 }

 .nav_menu a:hover::before{
    width: 100%;
    left: 0; 
 }

 /* header section */
 header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    background-color: var(--black);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%,0 90%);
 }

 .header_container{
    display: flex;
    align-items: center;
    position: relative;
  
 }

.header_left,.header_right{
    flex: 1;
}

.header_right .text-1{
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    color: var(--normal);
}
.header_right .text-2{
    font-size: 3.6rem;
    font-weight: 550;
    color: var(--secondery);
}
.header_right .text-3{
    font-size: 2.5rem;
    margin-bottom: 0.3rem 0;
    color: var(--normal);
}


.typing{
    color: var(--secondery);
    font-size: 500;
}


/* about section */

.about{
    text-align: center;
}

.about_container{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.about_img{
    border: 3px solid var(--secondery);
    border-radius: 50%;
    overflow: hidden;
    max-width: 12.5rem;
    max-height: 12.5rem;
    margin-right: 2rem;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
}

.about_text{
    max-width: 70%;
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    padding-bottom: 2.5rem;
}

.about_text p{
    margin-bottom: 0.8rem;
}
.about_text .text{
    margin-bottom: 1rem;
}

.about_text .text span{
    color: var(--secondery);
    font-weight: 500;
}



/* services section */

.services {
    text-align: center;
   
}

.services_container .cards{
    display: flex;
    margin: auto;
  
    position: relative;
    margin-bottom: 2.5rem;
}


.services_container .cards .card {
    padding: 1.2rem;
    margin: 1.2rem;
    background-color: var(--normal);
    position: relative;
    box-shadow: 0px 0px 45px 0px rgb(0 0 0 / 31%);
    border-radius: 10px;
}


.sbox i {
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    color: var(--normal);
    border: 1px solid var(--primary);
    border-radius: 50%;
    padding-top: 1rem;
    background-color: var(--primary);
    transition: all 1s;
}

.sbox h3{
    font-size: 1.5rem;
    color: var(--bg);
    margin-top: 0.75rem;
}

.sbox p{
    margin: 1.2rem 0;
    color: var(--bg);
}

.sbox a{
    color: var(--normal);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    background-color: var(--primary);
    border-radius: 1rem;
    border: 2px solid var(--primary);

}

.sbox a:hover{
    background-color: var(--normal);
    color: var(--primary);
}


.services_container .cards .card:hover .sbox i{
    background-color: transparent;
    color: var(--primary);
}

.card::afer{
    content: "";
    width: 100%;
    height: 100%;
   background-color: var(--normal);
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}

.card:hovr::after{
    transform: rotate(13deg);
}


/* skills section */

.skills .new{
    text-align: center;
}


.skills_container{
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
    padding: 1.6rem 1.8rem;
    max-width: 40rem;
    background-color: var(--normal);
    border-radius: 0.7rem;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.2);
}

.info{
    display: flex;
    justify-content: space-between;
}

.number{
    font-weight: 500;
    color: var(--secondery);
    animation: animate 1s 3s cubic-bezier(1,0,0.5,1) 
    forwards;
}

.skills_container .bar{
    margin: 1.2rem 0;
}


.skills_container .bar:first-child{
    margin-top:  0;
}

.skills_container .bar .info{
    margin-bottom: 0.3rem;
}

.skills_container .bar .info span{
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;

}

@keyframes showText{
    100%{
        opacity: 1;
    }
}


.skills_container .bar .progress-line{
    height: 10px;
    width: 100%;
    background-color: var(--color);
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 0.7rem;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.05), 1px 1px
     rgba(255,255,255,0.8);
     animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}

.skills_container  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 0.7rem;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--secondery);
    animation: animate 1s 3s cubic-bezier(1,0,0.5,1) 
    forwards;
  

}

.skills_container .bar  .html span{
    width: 90%;
   
}

.skills_container .bar  .css span{
    width: 80%;
   
}
.skills_container .bar  .wordpress span{
    width: 75%;
   
}
.skills_container .bar  .jquery span{
    width: 80%;
   
}
.skills_container .bar  .bootstrap span{
    width: 90%;
   
}


/* portfolio section */

.portfolio_container{
    text-align: center;
    margin-top: 3rem;
   

}


.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--normal);
    border-radius: 15px;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.2);
}


.gallery a  {
    height: 15rem;
    width: 20rem;
    overflow: hidden;
    margin: 1.2rem;
    border-radius: 0.3rem;
    box-sizing: 0 3px 5px var(--primary);
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(57, 6, 139, 0.2);
 
}

.gallery a img{
    width: 100%;
    height: 100%;
  object-fit: fill;
  border-radius: 0.3rem;

}

.gallery a img:hover{
transfrm: scale(1.4);
}

.gallery a h5{
    position: relative;
}

.gallery a h5::after{
    content: "";
    width: 10%;
    height: 0.2rem;
   background-color: var(--secondery);
    position: absolute;
   bottom: -0.8rem;
    left: 0;
    border-radius: 0.3rem;
    transition: all .3s cubic-bezier(0.22, 0.61, 0.36, 1); 
}


.gallery a:hover::after{
    width: 100%;

}

      /* contact section */

.contact_container{
    width: 80%;
    margin: 4rem auto;
    color: var(--black);
   

}

.contact_header{
    text-align: center;
}
.contact_container .h2{
    margin-top:10px;
    color: var(--primary);
}
.contact_container p{
    margin-bottom: 1.5rem;
    color: var(--primary);
    margin-top: -20px;
    
}

.contact_box{
    display: flex;
    background: #ffffff;
    box-shadow: 0.3rem 0.3rem 1.2rem rgba(0,0,0,0.2);
    border-radius: 15px;
}
.contact_left{
    flex-basis: 60%;
    padding: 2.5rem 3.5rem;
}

.contact_left h3{
    color: #1c00b5;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.contact_right {
    flex-basis: 40%;
    padding: 2.5rem;
    background: #150458;
    color: #ffffff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.contact_right h3{
    font-weight: 500;

}
    
.input_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.input_row .input_group{
    flex-basis: 45%;
}


input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 0.4rem;
}


textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
}

label{
    margin-bottom: .5rem;
    display: block;
    color: #1c00b5;
}

.contact_btn{
    background: #1c00b5;
    width: 20%;
    height: 2rem;
    border: none;
    color: var(--normal);
    border-radius: 30px;
    margin-top: 1.2rem;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact_btn:hover{
    color:#1c00b5 ;
    border: 1px solid #1c00b5;
    background: transparent;
    font-weight: 600;
}



tr td:first-child{
    padding-right: 1.2rem;
}

tr td{
    padding-top: 1.2rem;
}